body {
  background-color: rgb(14, 53, 88);
}

h1.jumbotron {
  font-size: 400%;
}

h2 {
  text-align: center;
}

h3.warning {
  display: none;
}

p {
  text-align: center;
}

img {
  width: 350px;
  height: 300px;
  margin-top: 30px;
}

footer {
  color: white;
}

.jumbotron {
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

.submit-btn {
  text-align: center;
}

.warning {
  color: red;
  font-style: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

#result {
  display: none;
  margin-top: 50px;
}

.col-6 {
  float: none;
  margin: 0 auto;
}